rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Global Safety Net
    match /{document=**} {
      allow read, write: if false;
    }

    // Bookings collection
    match /bookings/{bookingId} {
      // Anyone can create a booking request, but only admins can read them.
      allow create: if true;
      allow read, update, delete: if false;
    }
  }
}
